{% extends "master.html" %}

{% block content %}

<div class="container" style="margin-left: 15rem; background-color: #6495ED; height: 1500px; width: 80%;">


<section class=" text-dark pt-5 px-5">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center ">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions or feedback? Then don't hesitate to contact us directly.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="/feedback_form" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Name</label>
                            <input type="text" id="name" name="name" class="form-control">
                            
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">e-mail</label>
                            <input type="text" id="email" name="email" class="form-control">
                           
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                            
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Message</label>
                            <textarea type="text" id="message" name="message" rows="6" class="form-control md-textarea"></textarea>
                           
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-warning w-100 mt-2" onclick="document.getElementById('contact-form').submit();"><b>Send</b></a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

      

    </div>

</section>
</div>
{% if feedback_success %}
<script>
         Swal.fire({
      icon: 'success',
      text: 'Bedankt voor uw feedback/vraag. U krijgt van ons binnenkort antwoord op uw vraag/feedback',
    })
    setTimeout(function(){
        location.href= "/"
    }, 3000)
</script>
{% endif %}
{% endblock %}
