{% extends "master.html" %}

{% block content %}
<div >
<main style="margin-left: 15rem; background-image: url('/static/images/tle-background.PNG');">
    <section class="bg">
        <div class="detail-container">
            <div class="subject-container">
                <div class="subject-div">Help</div>
                <!-- <div class="back-button"><a href="profile.html"><i
                        class="bi bi-arrow-left-square back-icon fontsize-two white-text"></i></a></div> -->
            </div>

            <div id="popup" data-visible="false">
            </div>

            <div class="detail-box">
                <div class="help-container">
                    <div style="color: white;">
                        <div class="help-div">
                            <i class="bi bi-person-square fontsize-two" style="color: white;"></i>
                            <p class="help-p">Profile</p>
                        </div>
                        <p>Here you can find all your personal information. You can also delete your profile by clicking
                            the red button "Delete profile".</p>
                    </div>

                    <div style="color: white;">
                        <div class="help-div">
                            <i class="bi bi-upc-scan fontsize-two" style="color: white;"></i>
                            <p class="help-p">Scan</p>
                        </div>
                        <p>Enter the url you want to check in the input. Click on the blue "scan" button and wait for
                            the results. Your project is now in the projects list.</p>
                    </div>

                </div>

                <div class="help-container">
                    <div style="color: white;">
                        <div class="help-div">
                            <i class="bi bi-list-task fontsize-two" style="color: white;"></i>
                            <p class="help-p">Projects</p>
                        </div>
                        <p>Here you will find all your scanned projects. In the search bar you can go through project
                            search name. If you click on the blue button with "Details" you will see the errors
                            automatically updated. You can delete it by clicking the red button with the trash can
                            projects.</p>
                    </div>

                    <div style="color: white;">
                        <div class="help-div">
                            <i class="bi bi-chat-right-dots fontsize-two" style="color: white;"></i>
                            <p class="help-p">Feedback</p>
                        </div>
                        <p>We strive for satisfied customers of yours and ours. If there is something you do not understand, please enter your
                            name, email, subject and message. Click the blue "Send" button and you will
                            receive a reply from us to the email you entered.</p>
                    </div>

                </div>


                <div class="last-help-div">
                    <div class="help-div">
                        <i class="bi bi-box-arrow-left fontsize-two" style="color: white;"></i>
                        <p class="help-p">Log Out</p>
                    </div>
                    <p>Clicking on this will ask you if you really want to explain. It is important that when you log out
                        all your data is stored securely.
                        The red button with "log out" takes you to the homepage and the green button with "No" leaves the
                        popup disappear.</p>
                </div>

            </div>
        </div>

    </section>
</main>
</div>

{% endblock %}
