<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>TLE-01</title>

    <!-- Fonts -->
    <link href="//fonts.gstatic.com" rel="dns-prefetch">
    <link href="https://fonts.bunny.net/css?family=Nunito" rel="stylesheet">


    <!--Bootstrap-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">


    <link href="../static/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="../static/js/index.js" defer></script>

</head>
<body>

<!-- Sidebar -->
<div class="wrapper">
    <div class="sidebar">
        <h2>Logo</h2>
        <div class="ul-container">
            <ul>
                <li class="vert-li fontsize-one"><a class="flex" href="profile.html"><i
                        class="bi bi-person-square rightpad"></i>Profile</a>
                </li>
                <li class="vert-li fontsize-one"><a class="flex" href="#"><i
                        class="bi bi-upc-scan rightpad"></i>Scan</a>
                </li>
                <li class="vert-li fontsize-one"><a class="flex" href="projecten.html"><i class="bi bi-list-task rightpad"></i>Projects</a>
                </li>
            </ul>

            <ul>
                <li class="vert-li fontsize-one"><a class="flex" href="feedback.html"><i class="bi bi-chat-right-dots rightpad"></i>Feedback</a>
                <li class="vert-li fontsize-one"><a class="flex" href="#"><i class="bi bi-question-square rightpad"></i>Help</a>
                </li>
                <li class="vert-li fontsize-one" id="logout" data-visible="false"><a><i
                        class="bi bi-box-arrow-left rightpad"></i>Log out</a></li>
            </ul>
        </div>
    </div>
</div>

<main style="margin-left: 200px;">
    <section class="bg">
        <div class="detail-container">
            <div class="subject-container">
                <div class="subject-div">*Gekozen probleem*</div>
                <div class="back-button"><a href="profile.html"><i
                        class="bi bi-arrow-left-square back-icon fontsize-two white-text"></i></a></div>
            </div>

            <div id="popup" data-visible="false">
            </div>

            <div class="detail-box">
                <h3>manjier om die probleem op te lossen</h3>
                <h3>manjier om die probleem op te lossen</h3>
                <h3>manjier om die probleem op te lossen</h3>
                <h3>manjier om die probleem op te lossen</h3>
                hier moet je dan gewoon die dingen neerzetten zoals je deed in de probleem pagina
            </div>
        </div>
    </section>
</main>

</body>
</html>