
{% extends "master.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<main style="margin-left: 200px;">
    <div class="clip">
        <section>
            <div class="profile-container ">
                <div class="subject-container">
                    <div class="subject-div">Your Profile</div>
                    <div class="back-button"></div>
                </div>
                <div class="profile-picture">
                    <img src="/static/images/pf.png" alt="profile picture">
                    <h2>{{session["name"]}}</h2>
                    <div class="profile-info">
                        <ul style="margin-top: 8px">
                            <li class="vert-li fontsize-one"><p class="flex"><i class="bi bi-envelope-at rightpad"></i>{{session["email"]}}
                            </p>
                            <li class="vert-li fontsize-one"><p class="flex"><i class="bi bi-list-check rightpad"></i>{{session["projects"]}}
                                project(s)</p>
                        </ul>
                    </div>
                    <a id="remove_user" href="/remove">
                    <button type="button" class="btn btn-danger">Delete profile</button>
                </a>
                </div>
            </div>
        </section>
    </div>
</main>

<script>
    $("#remove_user").click(function(event){
    event.preventDefault()
        Swal.fire({
      title: 'Weet u zeker dat u account wilt verwijderen?',
      showDenyButton: true,
      confirmButtonText: 'JA',
      denyButtonText: `NEE`,
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        location.href= "/remove"
      } else if (result.isDenied) {
        location.href= "/profile"
      }
    })
    })
       
    </script>

{% endblock %}
