<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>TLE-01</title>

    <!-- Fonts -->
    <link href="//fonts.gstatic.com" rel="dns-prefetch">
    <link href="https://fonts.bunny.net/css?family=Nunito" rel="stylesheet">


    <!--Bootstrap-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">


    <link href="../static/css/style.css" rel="stylesheet">


    <!-- Scripts -->

    <script type="text/javascript" src="../static/js/index.js" defer></script>

</head>
<body>

<!-- Sidebar -->
<div class="wrapper">
    <div class="sidebar">
        <h2>Logo</h2>
        <div class="ul-container">
            <ul>
                <li class="vert-li fontsize-one"><a class="flex" href="profile.html"><i
                        class="bi bi-person-square rightpad"></i>Profile</a>
                </li>
                <li class="vert-li fontsize-one"><a class="flex" href="scan.html"><i
                        class="bi bi-upc-scan rightpad"></i>Scan</a>
                </li>
                <li class="vert-li fontsize-one"><a class="flex" href="projecten.html"><i
                        class="bi bi-list-task rightpad"></i>Projects</a>
                </li>
            </ul>

            <ul>
                <li class="vert-li fontsize-one"><a class="flex" href="feedback.html"><i
                        class="bi bi-chat-right-dots rightpad"></i>Feedback</a>
                <li class="vert-li fontsize-one"><a class="flex" href="#"><i class="bi bi-question-square rightpad"></i>Help</a>
                </li>
                <li class="vert-li fontsize-one" id="logout" data-visible="false"><a><i
                        class="bi bi-box-arrow-left rightpad"></i>Log out</a></li>
            </ul>
        </div>
    </div>
</div>

<main style="margin-left: 200px;">
    <section class="bg">
        <div class="detail-container">
            <div class="subject-container">
                <div class="subject-div">*websitenaam* problemen</div>
                <div class="back-button"><a href="profile.html"><i
                        class="bi bi-arrow-left-square back-icon fontsize-two white-text"></i></a></div>
            </div>

            <div id="popup" data-visible="false">
            </div>

            <div class="detail-box">
                <div class="scroll-list">
                    <table>
                        <thead>
                        <tr>
                            <td><b>Website</b></td>
                            <td><b>See</b></td>
                            <td><b>Number of errors</b></td>
                        </tr>
                        </thead>
                        <tbody id="myProjects">
                        <tr>
                            <td>youtube</td>
                            <td>
                                <form action="">
                                    <button type="submit" class="btn btn-primary">Details</button>
                                </form>
                            </td>
                            <td>21</td>
                            <td>
                                <form action="">
                                    <button class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td>anders</td>
                            <td>
                                <form action="">
                                    <button type="submit" class="btn btn-primary">Details</button>
                                </form>
                            </td>
                            <td>21</td>
                            <td>
                                <form action="">
                                    <button class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="input-group rounded center-content padding-50">
                    <input type="search" class="form-control rounded search-input" id="myInput"
                           onkeyup="searchProject()" placeholder="Search for projects.." aria-label="Search"
                           aria-describedby="search-addon"/>
                    <span class="input-group-text border-0" id="search-addon" style="background-color: #33383b">
                        <i class="bi bi-search white-text"></i>
                    </span>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>

<script>
    function searchProject() {
        // Declare variables
        let input, tbody, tr, td, filter, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        tbody = document.getElementById("myProjects");
        tr = tbody.getElementsByTagName('tr');

        // Loop through all list items, and hide those who don't match the search query
        for (let i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>